Source: tomighty
Section: misc
Priority: optional
Maintainer: Katsuki Kobayashi <rare@tirasweel.org>
Build-Depends: debhelper (>= 9), qt5-qmake, qtbase5-dev, qtmultimedia5-dev
Standards-Version: 3.9.8
Homepage: http://tomighty.org/

Package: tomighty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cdbs:Depends}
Description: desktop timer app for the Pomodoro Technique
 A desktop timer app for the Pomodoro Technique® written in C++ on top of Qt 5.
 .
 It's designed to be:
 .
   * Simple
   * Non-distracting
   * Unintrusive
   * Reasonably configurable
   * Extensible (with plugins)
   * Cross-platform
 When the application starts, a little tomato icon is shown on the system tray.
 Its color indicates the current state of the timer. By clicking on the tray
 icon the main application menu pops up.
