#!/usr/bin/make -f

override_dh_auto_configure:
	mkdir build
	cd build; qmake -qt=qt5 ../src/tomighty.pro

override_dh_auto_build:
	cd build; make

override_dh_auto_clean:
	rm -rf build

override_dh_auto_install:
	cd build; make install INSTALL_ROOT=$(CURDIR)/debian/tomighty

%:
	dh $@
